* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    background-color: #9ddedf;
    color: #212d49;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.5rem;
}

h1 {
    font-family: "Raleway", sans-serif;
    font-size: 2.2rem;
    font-weight: 700;
    text-align: center;
}

h2 {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
}

span {
    color: #d3233a;
}

button {
    cursor: pointer;
    background-color: #212d49;
    color: beige;
    border-radius: 50px;
    border: none;
    padding: 10px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: 1px;
    margin-left: 20px;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}

.container {
    width: 60vw;
    min-height: 500px;
    height: 55vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: beige;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.tarefa-li {
     display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    margin-bottom: 8px;
    border: 1px solid #212d49;
    border-radius: 8px;
    line-height: 3rem;
    font-size: 1rem;
    font-weight: 700;
}


.tarefa-li span.concluida {
    text-decoration: line-through;
}

.info {
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 1;
}
.dataConclusao {
    font-size: 0.75rem;
    color: #555;
    margin-right: 15px;
    white-space: nowrap;
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 0.8rem;
}

.categoria {
    padding: 4px 10px;
    border-radius: 12px;
    font-size: 0.75rem;
    font-weight: 700;
    text-transform: uppercase;
}

.taskForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.taskForm label {
    font-size: 0.8rem;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 5px;
}

.taskForm input {
    width: 300%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.trabalho .categoria {
    background-color: #f4a261;
    color: #000;
}

.pessoal .categoria {
    background-color: #2a9d8f;
    color: #fff;
}

.estudo .categoria {
    background-color: #457b9d;
    color: #fff;
}

.taskForm button {
    background-color: rgb(41, 89, 92);
    border: none;
    color: #fff;
    padding: 10px 20px;
}

.fa-paper-plane {
    margin-left: 5px;
    color: #fff;
    font-size: 0.8rem;
}